.cabeçalho {
    background-color: #300301;
    display: flex;
    justify-content: space-around;
}

.cabeçalho-título {
    color: #C72A2C;
    font-size: 54px;
}

.cabeçalho-lista {
    color: white;
   }

.cabeçalho-logotipo {
    width: 120px;
}

.cabeçalho-lista-item1 {
    display: inline-block;
}